# This override file should be used when running automated tests so
# that test output is saved to the host

services:
  ffc-pay-submission:
    build:
      target: development
    image: ffc-pay-submission-development
    container_name: ffc-pay-submission-test
    depends_on:
      - ffc-pay-submission-postgres
      - ffc-pay-dax-azurite
      - servicebus-emulator
    command: npm run test
    volumes:
      - ./app:/home/node/app
      - ./test:/home/node/test
      - ./test-output:/home/node/test-output
      - ./jest.config.js:/home/node/jest.config.js
      - ./package.json:/home/node/package.json
    environment:
      AZURE_STORAGE_CONNECTION_STRING: DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://ffc-pay-dax-azurite:10000/devstoreaccount1;
      PROCESSING_ACTIVE: true
      MESSAGE_QUEUE_HOST: servicebus-emulator
      MESSAGE_QUEUE_USER: RootManageSharedAccessKey
      MESSAGE_QUEUE_PASSWORD: SAS_KEY_VALUE
      STATEMENT_QUEUE_ADDRESS: ffc-pay-request-test
      PAYMENTSUBMIT_TOPIC_ADDRESS: ffc-pay-submit-test
      PAYMENTSUBMIT_SUBSCRIPTION_ADDRESS: ffc-pay-submission
      EVENTS_TOPIC_ADDRESS: ffc-pay-events-test
      FILESEND_TOPIC_ADDRESS: ffc-pay-file-send-test

  ffc-pay-submission-postgres:
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  ffc-pay-dax-azurite:
    labels:
      com.docker.compose.pay.role: test

  sqledge:
    container_name: "sqledge"
    image: "mcr.microsoft.com/azure-sql-edge:latest"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "DummyStrongPa$$w0rd" # To be filled by user as per policy : https://learn.microsoft.com/en-us/sql/relational-databases/security/strong-passwords?view=sql-server-linux-ver16

  servicebus-emulator:
    container_name: "servicebus-emulator"
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    pull_policy: always
    volumes:
      - "./BusConfig.json:/ServiceBus_Emulator/ConfigFiles/Config.json"
    ports:
      - "5672:5672"
    environment:
      SQL_SERVER: sqledge
      MSSQL_SA_PASSWORD: "DummyStrongPa$$w0rd" # Password should be same as what is set for SQL Edge
      ACCEPT_EULA: "Y"
    depends_on:
      - sqledge

    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 5672"]
      interval: 5s
      timeout: 3s
      retries: 30

volumes:
  postgres_data:
