environment: development
environmentCode:
name: ffc-pay-submission
namespace: ffc-pay
workstream: ffc-pay
image: ffc-pay-submission

labels:
  component: service

appInsights:
  connectionString:

containerConfigMap:
  name: ffc-pay-submission-config-map

containerSecret:
  name: ffc-pay-submission-container-secret
  type: Opaque

deployment:
  minReplicas: 1
  maxReplicas: 3
  cpuThreshold: 80
  memoryThreshold: 80
  priorityClassName: high

container:
  requestMemory: 150Mi
  requestCpu: 120m
  limitMemory: 500Mi
  limitCpu: 500m
  port: 3015
  messageQueueHost: namespace.servicebus.windows.net
  paymentSubmitTopicAddress: ffc-pay-submit
  paymentSubmitSubscriptionAddress: ffc-pay-submission
  fileSendTopicAddress: ffc-pay-file-send
  eventsTopicAddress: ffc-pay-events
  azureStorageAccountName: ffcpay
  azureStorageConnectionString: dummy
  azureStorageUseConnectionString: false
  azureStorageCreateContainers: false
  storageContainer: dax
  storageFolder: outbound
  batchGenerationInterval: 1800000
  batchSize: 2000
  batchCap: 1
  processingActive: true

readinessProbe:
  path: /healthy
  port: 3015
  initialDelaySeconds: 60
  periodSeconds: 120
  failureThreshold: 5
  timeoutSeconds: 30

livenessProbe:
  path: /healthz
  port: 3015
  initialDelaySeconds: 70
  periodSeconds: 120
  failureThreshold: 5
  timeoutSeconds: 30

postgresService:
  postgresDb: ffc_pay_submission
  postgresqlHost: ffc-pay-submission-postgres
  postgresPort: 5432
  postgresSchema: public
  postgresUser: postgres

workloadIdentity: true

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

secretProviderClass:
  azure:
    keyvaultName: SNDFFCINFKV2001
    objects: # reading the secret from Azure Key Vault
      - objectName: appInsights-connectionString # secret name in Azure Key Vault
        objectType: secret

  secretObjects: # creating a Kubernetes secret from the Azure Key Vault secrets
    - secretName: ffc-pay-submission
      type: Opaque
      data:
        - objectName: appInsights-connectionString # secret name in Azure Key Vault
          key: APPINSIGHTS_CONNECTIONSTRING # the secret key in the Kubernetes secret and use in the application